<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Selection Screen</title>
  </head>
  <body>
    <header>
      <div class="">
        <h1>Game of Life</h1>
        <p>Please select your Login</p>
        <form>
          <input type="button" onclick="window.location.href = {{ url_for('admin_login')}}" value="Admin Login">
          <input type="button" onclick="window.location.href = {{ url_for('user_login')}}" value="User Login">
        </form>

      </div>
    </header>
  </body>
</html>
